/* Reset */

html,
body,
div,
span,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: #1d1d1f;
    vertical-align: baseline;
    font-weight: 300;
    line-height: 1.47059;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-weight: 400;
}

h2,
h4 {
    font-weight: 200;
}

.flex {
    display: flex;
}

.justify-content--center {
    justify-content: center;
}

.align-items--center {
    align-items: center;
}

.container {
    margin: 80px auto;
    max-width: 600px;
    padding-left: 80px;
    padding-right: 80px;
}

.text-align--center {
    text-align: center;
}

.header-title {
    order: 1;
}

.header-photo {
    order: 2;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #add8e6;
}

.header {
    margin-bottom: 42px;
}

.description {
    margin-bottom: 12px;
}

.justify-content--space-between {
    justify-content: space-between;
}

.social-link--small,
.social-link {
    border: 1px solid transparent;
    border-radius: 21px;
    border-color: rgb(176, 176, 176);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.link:hover {
    color: rgb(176, 176, 176);
    text-decoration: none;
}

.social-link--small {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.social-link--small:hover,
.social-link:hover {
    transition: ease-in 0.2s;
    border-color: rgb(60, 60, 60);
}

.links-container,
.projects-container {
    margin: 24px 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.sub-text {
    font-size: 12px;
}

.project-img {
    margin: 12px 0;
}

.sub-container {
    max-width: 400px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .header-title {
        order: 2;
    }

    .header-photo {
        order: 1;
        margin-bottom: 20px;
    }

    .container {
        max-width: 300px;
        padding: 0;
        margin: 80px 0;
    }

    .links-container {
        margin-bottom: 24px;
    }

    .social-link {
        flex: 1 1;
        padding-left: 24px;
        padding-right: 24px;
        margin: 0;
    }

    .xs-margin-bottom-8 {
        margin-bottom: 8px;
    }

    .xs-margin-left-8 {
        margin-left: 8px;
    }

    .xs-margin-right-8 {
        margin-right: 8px;
    }

    .xs-margin-right-cancel {
        margin-right: 0;
    }

    .xs-margin-left-cancel {
        margin-right: 0;
    }
}
